/provider/target/generated-sources
/provider/target/maven-status
/provider/logs
.idea
/service/target/*
/provider/target/*
/domain/target/*
/logs
/provider/src/main/resources/config.properties
/common/target/*
/biz/target/*
/common/target
/task/target/*
*.iml
*.class
/dao/target/
/export/target/